#title{
    color: white;
    padding: 15px;
}

.sidebar{
    height: 1000px;
    background-image: linear-gradient(to top, #051937, #002c60, #003f8c, #0053bb, #1267eb);
}
.canvas{
    height: 950px;
}
.bar{
    background-image: linear-gradient(to left, #051937, #002c60, #003f8c, #0053bb, #1267eb);
}

.card{
    border-width: 1px;
    border-color: #0b5ed7;
    margin: 10px;
    width: 100px;
    text-align: center;
    font-family: Ubuntu;
}